[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"
pytest = "*"
pytest-flask = "*"
pytest-cov = "*"

[packages]
flask = "*"
flask_restx = "*"
flask-migrate = "*"
gunicorn = "*"
Werkzeug = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
marshmallow-sqlalchemy = "*"
bcrypt = "*"
pyjwt = "*"
flask-mail = "*"
coverage = "==4.3"
itsdangerous = "==2.0.1"

[requires]
python_version = "3.9"
